name: publish-charts
on:
  push:
    branches:
      - main
    paths:
      - charts/**
      - '!**/*.md'
  workflow_dispatch:
jobs:
  publish-charts:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Build dependencies Helm - nidhogg
        uses: WyriHaximus/github-action-helm3@v4
        with:
          exec: helm dependency build charts/nidhogg
      - name: Chart | Push - nidhogg
        uses: appany/helm-oci-chart-releaser@v0.4.1
        with:
          name: hidhogg
          repository: pelotech/charts
          tag: 0.1.0
          registry: ghcr.io
          registry_username: ${{ github.actor }}
          registry_password: ${{ secrets.github_token }}
